.checkbox {
    width: 52px;
    height: 32px;
    padding: 4px;

    display: flex;
    align-items: center;
    
    background-color: #49454f;
    
    border-radius: 24px;
    border: solid 2px #938f99;
    
    transition: border-color 200ms, background-color 200ms;
    
    cursor: pointer;
}//TODO continuar com o style